$reset-whatever-declaration = {
  'base': {
    'elements': 'ol' 'ul' 'li' 'table' 'div'

    'rules': {
      margin: 0
      padding: 0
      border: 0
    }
  }

  'whatever': {
    'elements': 'aside' 'section' 'article'

    'rules': {
      display: block
    }
  }

  'ul': {
    'rules': {
      list-style-type: none
    }
  }
}

register_reset('whatever', $reset-whatever-declaration)

use_reset('whatever')

reset('all')
