// Core functions
// ======================================

// Get the list of the items to reset from a string
get_reset_items($string)
  return split(',', replace(',? +', ',', $string))


// Function to register the given reset $declaration with the given $name
$registered_resets = {}
register_reset($name, $declaration)
  // No optimization here. Yet.
  unless $name in $registered_resets
    $registered_resets[$name] = $declaration


// Function to use the reset with the registered $name for the given elements
// (all elements if the second argument is omitted)
use_reset($name, $elements = 'all')
  return true


// `apply_reset` the same above, but apply things straight away


// `enhance_reset` would enhance the given reset key with the given hash or block


// `call_reset` — the main reset function. Should we call it just `reset`?
// Or make an optional `?= reset` alias for this?
